<h1>Restaurant Details </h1>

<h3>
  <strong>Name: </strong><%= @restaurant.name %>
  <%= link_to 'Add Review', new_restaurant_review_path(@restaurant), :class => "btn btn-info"  %>
</h3>
<ul>
  <li>
    <strong>Address: </strong><%= @restaurant.address %>
  </li>
  <li>
    <strong>Phone Number: </strong><%= @restaurant.phone_number %>
  </li>
  <li>
    <strong>Category: </strong><%= @restaurant.category %>
  </li>
  <li>
    <strong>Created At: </strong><%= @restaurant.created_at %>
  </li>
  <li>
    <strong>Updated At: </strong><%= @restaurant.updated_at %>
  </li>
</ul>

<%= link_to 'Homepage', restaurants_path, :class => "btn btn-primary" %>
<%= link_to 'Reviews', restaurant_reviews_path(@restaurant), :class => "btn btn-primary" %>
